/* paper: {
  padding: '10px', display: 'flex', flexDirection: 'column', justifyContent: 'center', width: '100px',
} */
/* .mapContainer {
  height: 50vh;
  width: 100%;
} */

.mapContainer iframe {
  width: 330px;
  height: 513px;
  border: 0;
}

/* .markerContainer {
  position: absolute;
  transform: translate(-50%, -50%);
}

pointer {
  cursor: pointer;
} */
