.description__content {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
}

.description__image {
    width: 50%;
    margin: auto;
}

.description__image img {
    width: 100%;
    height: 100%;
}

.description__text {
    font-family: 'Montserrat';
    width: 30%;
    text-align: justify;
    padding: 5%;
    color: #FFFFFF;
}

.description__text h1 {
    font-weight: bolder;
    font-size: 64px;
    margin: 5% auto;
}

.description__text p {
    font-size: 18px;
    line-height: 27px;
    margin: 5% auto;
}

.description__text button {
    width: 222px;
    height: 68px;
    border: none;
    background: #480CA8;
    border-radius: 40px;
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    font-weight: 900;
    margin-top: 8%;
}
.description__btn-link {
    color: #FFFFFF;
}
.description__text button:hover {
    background-color: #3C0B8C;
}
