.modalBackground {
    position: absolute;
    width: 924px;
    height: 656px;
    left: 258px;
    top: 193px;
}

.modalContainer {
    width: 924px;
    height: 656px;
    background: #EAEAEA;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
}

.modal__button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5%;
    right: 0;
}