.navbar__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin: 2% auto;
}

.logo {
    font-size: 33px;
    line-height: 40px;
    color: #ffffff;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    text-decoration: none;
    align-items: center;
    margin: 0.8rem 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.nav__link {
    margin: 0 3rem 0 0;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}



.nav__link--button {
    margin: 0 5rem 0 1rem;
    width: 195px;
    height: 54px;
    border: none;
    background: #FFFFFF;
    border-radius: 40px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #480CA8;
}

.nav__link--area {
    position: relative;

}

.nav__link--hover {
    position: absolute;
    right: 20%;
    margin-top: 0px;
    height: auto;
    border: none;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    color: #480CA8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 150px;
    height: 84px;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.nav__link--hover-divider {
    width: 100%;
    border-bottom: #480CA8 solid 2px;
    padding: 5px;
    margin-bottom: 5px;
}
