.main__content {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-block: 82px;
}

.search__cards {
  display: flex;
  flex-direction: column;
}

.search-form {
  width: 802px;
  margin-top: 82px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.search-form svg {
  position: absolute;
  left: 17px;
}

.search__input {
  width: 454px;
  height: 61px;

  padding-left: 71px;
  border-style: none;
  background: #eaeaea;
  border-radius: 40px 0px 0px 40px;
  outline: none;

  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.search__select {
  margin: 0;
  width: 195px;
  height: 61px;
  padding-left: 30px;

  text-align: left;
  background: #480ca8;
  border-radius: 0px 40px 40px 0px;
  color: white;
  outline: none;
  appearance: none;
  border: none;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.search__btn {
  width: 141px;
  height: 58px;

  margin-left: 27px;

  background: #ffffff;
  border-radius: 40px;
  border: none;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  text-align: center;

  color: #480ca8;
}

/* 
.swal2-title {
  font-family: 'Montserrat';
} */
