.footer__content {
    height: auto;
    width: 100%;
    background: #200451;
}

.footer__content p {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 151.4%;
    text-align: center;
    letter-spacing: 0.09em;
    color: #FFFFFF;
    padding: 1.2%;
}