.login__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8%;
}

.login__account {
    font-family: 'Montserrat';
    background: #EAEAEA;
    border-radius: 40px;
    width: 50%;
    width: 553px;
    margin: auto;
    height: 443.52px;
    display: flex;
    flex-direction: column;
}

.login__account h1 {
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #480CA8;
    margin: 10% 0 0;
}

.login__fieldset {
    font-size: 14px;
    line-height: 17px;
    color: #1e1e1e;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 5% auto 0;
}
.login__fieldset label {
    margin-bottom: 2%;
}
.login__account input {
    width: 471.17px;
    height: 45px;
    border: none;
    background: #FFFFFF;
    border-radius: 5px;
    padding-left: 2%;
}

.login__createaccount {
    background: #EAEAEA;
    border-radius: 40px;
    width: 553px;
    margin: auto;
    height: 170.85px;
    margin: 2% auto;

}

.login__createaccount p {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #480CA8;
    margin: 6%;
}

.login__button {
    display: flex;
    justify-content: center;
    margin: 2% 0;
}

.swal2-title {
    font-family: 'Montserrat';
}


.login__password {
    width: 100%;
    margin: 2% 7% 4%;
    font-size: 16px;
}

.login__button button {
    width: 166.1px;
    height: 50.88px;
    border: none;
    background: #480CA8;
    border-radius: 40px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 100;
    text-align: center;
    color: #FFFFFF;
}